<a class="card card-data" [style.display]="mode === 'collection' ? 'flex' : 'none'">
    <h2>{{card.name}} - {{card.code}}</h2>
    <img src="{{card.image}}" width="200" height="280" loading="lazy" (click)="changeSelectionMode()"/>
    <div class="control-panel">
        <label class="pill-list-item">
            <input type="checkbox" class="{{card.code}}" ng-value="card.collection" (change)="changeCollection()" #collectionInput/>
            <span class="pill-list-label">Colección</span>
        </label>
        <div>
            <section class="card-labels">
                <span class="data-labels">
                    <span class="title">Stock</span>
                    <input type="number" width="20" ng-value="card.stock" (change)="changeStock()" #stockInput/>
                </span>
                <span class="data-labels">
                    <span class="title-2">Precio</span>
                    <input type="number" width="20" ng-value="card.price" (change)="changePrice()" #priceInput/>€
                </span>
            </section>
        </div>
    </div>
</a>
<a class="card card-data" [style.display]="mode === 'selection' ? 'flex' : 'none'">
    <h2>{{card.name}} - {{card.code}}</h2>
    <div class="control-panel">
        <div>
            <section class="card-labels">
                <span class="data-labels">
                    <section *ngIf="card.deckLeaderOne !== ''">
                        <span class="title">{{card.deckLeaderOne}} - </span>
                        <input type="number" width="20" ng-value="card.deckOneCopies" (change)="changeSelection(card.deckLeaderOne)" #copiesOneInput/>
                    </section>
                    <section *ngIf="card.deckLeaderTwo !== ''">
                        <span class="title">{{card.deckLeaderTwo}} - </span>
                        <input type="number" width="20" ng-value="card.deckTwoCopies" (change)="changeSelection(card.deckLeaderTwo)" #copiesTwoInput/>
                    </section>
                </span>
            </section>
            <section class="card-labels">
                <span class="data-labels">
                    <section>
                        <app-dropdown-selector [config]="dropdownConfig" (selectionChanged)="updateUid($event)"></app-dropdown-selector>
                    </section>
                </span>
            </section>
        </div>
    </div>
    <span (click)="changeSelectionMode()">Volver</span>
</a>