/* You can add global styles to this file, and also import other style files */
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    .card {
      color: black;
      width: 120px;
      cursor: pointer;
      margin-top:16px;
    }
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .button-size {
    margin-top: 0;
  }

  .button-comp {
    margin-bottom: 0 !important;
  }

  .tab-nav {
    display: flex;
    flex-direction: row;
  }

  .tab-item {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    margin-left: 8px;
  }

  .tab-container {
    h4 {
      margin: 0 auto;
      margin-bottom: 8px;
      width: fit-content;
    }
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 20px;
    width: 80px;
    margin: 0 8px 16px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .toggle-filter-button {
    width: 150px;
    cursor: pointer;
    margin-top:16px;
    padding: 8px;
    font-weight: 600;
  }

  .selected {
    color: #4eb135;
    font-weight: 600;
  }

  .card-data {
    border-radius: 4px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .card-data img {
    margin: 16px;
  }
  
  .toolbar h5 {
    margin-left: 16px;
  }

  .card-labels {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .card-labels input{
    width: 60px;
  }

  .title {
    margin-right: 21px;
  }

  .title-2 {
    margin-right: 16px;
  }

  .control-panel {
    display: flex;
    flex-direction: row;
    margin: 8px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: black;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  }